@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #f4f6f9;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

/* --- Header --- */

header {
	font-family: 'Inter';
	background-color: #f4f6f9;
	margin-bottom: 1.5rem;
	padding: 3rem;
	width: 100%;
	position: relative;
}

header h1 {
	text-align: center;
	margin-bottom: 0;
	line-height: 0;

}

#quit-button {
	font-family: 'Inter';
	font-weight: 700;
	color: #2C549C;
	padding: 0.75rem 1.25rem;
	background-color: #ffffff;
	border: 1px solid #D7D8DA;
	border-radius: 0.25rem;
	box-shadow: 1px 1px 4px #ddd;

	position: absolute;
	left: 0;
	top: 25.6px;


}

#quit-button:hover {
	cursor: pointer;
	box-shadow: 2px 2px 4px #ddd;
	transition: 0.25s;
	background-color: #2C549C;
	color: #ffffff
}


main {
	padding: 2rem 8rem;
}

.container {
	background-color: #ffffff;
	margin: 2rem auto;
	border: 0.5px solid #dedede;
	border-radius: 0.25rem;
	box-shadow: 1px 1px 4px #ddd;
}

.container-header {
	background-color: #f4f6f9;
	display: flex;
	padding: 1rem;
	border: 0.5px solid #dedede;
	border-radius: 0.25rem 0.25rem 0.1rem 0;
	align-items: center;
}

.toggle-view-button {
	background-color: #f4f6f9;
	color: #2C549C;
	border: none;
	font-size: 1.75rem;
	position: absolute;
	right: 9rem;
}

.action-buttons:not(hover) {
	transition: 0.25s;
}


.toggle-view-button:hover {
	transition: 0.25s;
	cursor: pointer;
	color: #0268d4;
}

/* --- Informações da O.S --- */

#request-details-header {
	display: flex;
	justify-content: space-between;
}

#request-details h3 {
	font-family: 'Inter';
}

#request-details-list * {
	background-color: #ffffff;
}

#request-details-list {
	background-color: #ffffff;
	padding: 1rem;
	list-style-type: none;
}

#requester {
	color: #2C549C;
	font-weight: 700;
}

.detail-item {
	padding-bottom: 0.5rem;
}

#details-last-child {
	padding-bottom: 0;
}

/* --- Anexos --- */

#attachments-content * {
	background-color: #ffffff;
}

#attachments-list {
	list-style: none;
	padding: 1rem;
}

.attachment-item {
	padding-bottom: 0.5rem;
}

.attachment-item:last-child {
	padding-bottom: 0;
}

/* --- Processamentos --- */

#include-return-button {
	font-family: 'Inter';
	font-size: 0.875rem;
	background-color: #2C549C;
	color: #fff;
	font-weight: 600;
	border: none;
	padding: 0.5rem;
	border-radius: 0.2rem;
}

#include-return-button:hover {
	background-color: #0268d4;
	transition: 0.2s;
	cursor: pointer;
}

#processings * {
	background-color: #ffffff;
	margin: 0rem;
}

#request-processing-header h3 {
	font-family: 'Inter';
	margin-right: 0.5rem;
}

#processings ul {
	list-style: none;
}

#processings li {
	padding: 0.5rem 1rem;
}

#request-author {
	font-family: 'Inter';
	background-color: #ffffff;
	color: #2C549C;
	font-weight: 500;
}

#included-processing {
	margin: 0;
	margin-bottom: 1.5rem;
}

#current-processing {
	background-color: #ffffff;
}

/* --- Incluir Retorno --- */

#include-return {
	font-family: 'Inter';
	background-color: #ffffff;
	margin: 0;
	display: none;
	flex-direction: column;
	justify-content: center;
}

#include-return select {
	font-family: 'Inter';
	background-color: #f4f6f9;
	width: 15rem;
	margin: 2rem 1rem;
	padding: 0.5rem;
	border: 0.5px solid #dedede;
	border-radius: 0.2rem;
	outline: none;
	cursor: pointer;
}

#finish-request {
	margin: 0 1rem;
}

#return-label {
	font-family: 'Inter';
	margin: 0 0 1rem 1rem;
}

#include-return textarea {
	margin: 0.5rem 1rem;
	padding: 1rem;
	background-color: #f4f6f9;
	font-weight: 500;
	border: 0.5px solid #dedede;
	border-radius: 0.3rem;
	outline: none;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	font-weight: 200;
	line-height: 1.3rem;
	resize: none;
}

#send-button {
	color: #fff;
	background-color: #2C549C;
	padding: 0.5rem;
	font-weight: 600;
	border: none;
	border-radius: 0.2rem;
}

#send-button:hover {
	background-color: #0268d4;
	transition: 0.25s;
	cursor: pointer;
}

#send-button {
	font-family: 'Inter';
	margin: 2rem 1rem;
}

/* --- Rodapé --- */

#footer {
	font-family: 'Inter';
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #f4f6f9;
	padding: 2rem;
}

#footer h3 {
	font-size: 1.5rem;
	font-weight: 700;
	padding-bottom: 0.5rem;
	color: #2C549C;
}