@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #f4f6f9;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

/* --- Header --- */

header {
	font-family: 'Inter';
	background-color: #f4f6f9;
	margin-bottom: 1.5rem;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main {
	padding: 2rem 8rem;
}

.container {
	background-color: #ffffff;
	margin: 2rem auto;
	border: 0.5px solid #dedede;
	border-radius: 0.25rem;
	box-shadow: 1px 1px 4px #ddd;
}

.cabecario {
	background-color: #f4f6f9;
	display: flex;
	padding: 1rem;
	border: 0.5px solid #dedede;
	border-radius: 0.25rem 0.25rem 0.1rem 0;
	align-items: center;
}

.botaoAlternaVisualizacao {
	background-color: #f4f6f9;
	color: #007bff;
	border: none;
	font-size: 1.75rem;
	position: absolute;
	right: 9rem;
}

.botaoAlternaVisualizacao:hover {
	cursor: pointer;
}

/* --- Informações da O.S --- */

#cabecarioDetalhesOS {
	display: flex;
	justify-content: space-between;
}

#detalhesOS h3 {
	font-family: 'Inter';
}

#listaDetalhesOS * {
	background-color: #ffffff;
}

#listaDetalhesOS {
	background-color: #ffffff;
	padding: 1rem;
	list-style-type: none;
}

#solicitante {
	color: #007bff;
	font-weight: 700;
}

.detalheItem {
	padding-bottom: 0.5rem;
}

#detalhesUltimoFilho {
	padding-bottom: 0;
}

/* --- Anexos --- */

#conteudoAnexos * {
	background-color: #ffffff;
}

#listaAnexos {
	list-style: none;
	padding: 1rem;
}

.anexoItem {
	padding-bottom: 0.5rem;
}

.anexoItem:last-child {
	padding-bottom: 0;
}

/* --- Processamentos --- */

#botaoIncluiRetorno {
	font-family: 'Inter';
	font-size: 0.875rem;
	background-color: #007bff;
	color: #fff;
	font-weight: 600;
	border: none;
	padding: 0.5rem;
	border-radius: 0.2rem;
}

#botaoIncluiRetorno:hover {
	background-color: #0268d4;
	transition: 0.2s;
	cursor: pointer;
}

#Processamentos * {
	background-color: #ffffff;
	margin: 0rem;
}

#cabecarioProcessamentosOS h3 {
	font-family: 'Inter';
	margin-right: 0.5rem;
}

#Processamentos ul {
	list-style: none;
}

#Processamentos li {
	padding: 0.5rem 1rem;
}

#autor {
	font-family: 'Inter';
	background-color: #ffffff;
	color: #007bff;
	font-weight: 500;
}

#processamentoIncluido {
	margin: 0;
	margin-bottom: 1.5rem;
}

#processamentosExistentes {
	background-color: #ffffff;
}

/* --- Incluir Retorno --- */

#incluirRetorno {
	font-family: 'Inter';
	background-color: #ffffff;
	margin: 0;
	display: none;
	flex-direction: column;
	justify-content: center;
}

#incluirRetorno select {
	font-family: 'Inter';
	background-color: #f4f6f9;
	width: 15rem;
	margin: 2rem 1rem;
	padding: 0.5rem;
	border: 0.5px solid #dedede;
	border-radius: 0.2rem;
	outline: none;
}

#encerraOS:hover {
	cursor: pointer;
}

#selecaoEncerramento {
	margin: 0 1rem;
}

#labelRetorno {
	font-family: 'Inter';
	margin: 0 0 1rem 1rem;
}

#incluirRetorno textarea {
	margin: 0.5rem 1rem;
	padding: 1rem;
	background-color: #f4f6f9;
	font-weight: 500;
	border: 0.5px solid #dedede;
	border-radius: 0.3rem;
	outline: none;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	font-weight: 200;
	line-height: 1.3rem;
	resize: none;
}

#incluirRetorno button {
	color: #fff;
	background-color: #007bff;
	padding: 0.5rem;
	font-weight: 600;
	border: none;
	border-radius: 0.2rem;
}

#incluirRetorno button:hover {
	background-color: #0268d4;
	transition: 0.2s;
	cursor: pointer;
}

#botaoEnvia {
	font-family: 'Inter';
	margin: 2rem 1rem;
}

/* --- Rodapé --- */

footer {
	font-family: 'Inter';
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #f4f6f9;
	padding: 2rem;
}

footer h3 {
	font-size: 1.5rem;
	font-weight: 500;
	padding-bottom: 0.5rem;
	color: #007bff;
}