@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
}

body {
   font-family: 'Roboto', sans-serif;
   background-color: #f4f6f9;
}

main {
   padding: 2rem 8rem;
}

/* --- Header --- */
#cabecario {
   font-family: 'Goldman';
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 3rem;
}


/* --- Formulário --- */

#formulario {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   border: solid 0.5px;
   border-color: rgb(214, 214, 214);
   border-radius: 0.5rem;
   box-shadow: 1px 1px 4px #ddd;
   
}

#informacoes {
   list-style: none;
   padding: 1.5rem 1.5rem 1rem 1.5rem;
   width: 100%;
   display: flex;
   justify-content: space-between;
}

#informacoes input {
   height: 2.5rem;
   width: 100%;
}

.label {
   font-size: 0.875rem;
   margin: 0.25rem;
}

.preenchimentoDeInformacoes {
   border: none;
   border: 0.5px solid #dedede;
   border-radius: 0.2rem;
   outline: none;  
   font-size: 1rem;
}

.item {
   display: flex;
   flex-direction: column;
   width: 100%;
   margin: 0 5px;
}

#descricaoOS {
   display: flex;
   flex-direction: column;
   width: 100%;
}

#descricaoOS label {
   margin-left: 1.5rem;
}
textarea {
   margin: 0.25rem 1.5rem;
   resize: none;
}

#botoes {
   margin: 1rem 1.5rem;
}

#botoes button {
   /* padding: 10px 1rem; */
   width: 9.3rem;
   height: 2.5rem;
   margin-right: 1rem;
}

button:hover {
   cursor: pointer;
}

/* --- Footer --- */

footer {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 1rem;
}

footer h3 {
   font-size: 1.5rem;
   font-weight: 400;
   padding-bottom: 0.5rem;
   color: #007bff;
}
