@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Roboto', sans-serif;
   background-color: #f4f6f9;
   max-width: 1490px;
   margin: 0 auto;
   padding: 0 3rem;
}

/* --- Header --- */
#cabecario {
   font-family: 'Inter';
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 3rem;
}


/* --- Formulário --- */

#formulario {
   background-color: #ffffff;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   border: solid 0.5px;
   border-color: rgb(214, 214, 214);
   border-radius: 0.5rem;
   box-shadow: 1px 1px 4px #ffffff;

}

#informacoes {
   list-style: none;
   padding: 1.5rem 1.2rem 1rem 1.2rem;
   width: 100%;
   display: flex;
   justify-content: space-between;
}

#informacoes input {
   padding: 0 1rem;
   background-color: #f4f6f9;
   height: 2rem;
   width: 100%;
}

.label {
   font-family: 'Inter';
   font-size: 0.875rem;
   margin: 0.25rem 0;
}

.preenchimentoDeInformacoes {
   border: none;
   border: 0.5px solid #dedede;
   border-radius: 0.2rem;
   outline: none;
   font-size: 1rem;
}

.item {
   display: flex;
   flex-direction: column;
   width: 100%;
   margin: 0 5px;
}

#detalhesOS {
   display: flex;
   flex-direction: column;
   width: 100%;
}

#detalhesOS label {
   margin-left: 1.5rem;
}

textarea {
   padding: 1rem;
   background-color: #f4f6f9;
   margin: 0.25rem 1.5rem;
   resize: none;
   font-family: 'Roboto', sans-serif;
   /* box-sizing: border-box; */
}

/* --- Botões --- */

#botoes {
   margin: 1rem 1.5rem;
}

#botoes button {
   font-family: 'Inter';
   border: solid 1px #f4f6f9;
   width: 9.3rem;
   height: 2.5rem;
   margin-right: 1rem;
}

#botaoSalvar {
   cursor: pointer;
   color: #ffffff;
   background-color: #007bff;
   border: none;
}

#botaoSalvar:hover {
   background-color: #0268d4;
   transition: 0.2s;
}

#botaoCancelar {
   cursor: pointer;
   color: #FF4646;
   background-color: #ffffff;
   border: none;
}

#botaoCancelar:hover {
   background-color: #f4f6f9;
   transition: 0.2s;
}

/* --- Footer --- */

footer {
   font-family: 'Inter';
   margin-top: 2rem;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 1rem;
}

footer h3 {
   font-size: 1.5rem;
   font-weight: 500;
   padding-bottom: 0.5rem;
   color: #007bff;
}