@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Roboto', sans-serif;
   background-color: #f4f6f9;
   max-width: 1490px;
   margin: 0 auto;
   padding: 0 3rem;
}

/* --- Header --- */
#header {
   font-family: 'Inter';
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 3rem;
   position: relative;
}

#quit-button {
   font-family: 'Inter';
   font-weight: 700;
   color: #2C549C;
   padding: 0.75rem 1.25rem;
   background-color: #ffffff;
   border: 1px solid #D7D8DA;
   border-radius: 0.25rem;
   box-shadow: 1px 1px 4px #ddd;

   position: absolute;
   left: 0;
   top: 45.6px;


}

#quit-button:hover {
   cursor: pointer;
   box-shadow: 2px 2px 4px #ddd;
   transition: 0.25s;
   background-color: #2C549C;
   color: #ffffff
}

#quit-button:not(hover) {
   transition: 0.25s;
}

/* --- Formulário --- */

#form {
   background-color: #ffffff;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   border: solid 0.5px;
   border-color: rgb(214, 214, 214);
   border-radius: 0.5rem;
   box-shadow: 1px 1px 4px #ffffff;

}

#request-details {
   list-style: none;
   padding: 1.5rem 1.2rem 1rem 1.2rem;
   width: 100%;
   display: flex;
   justify-content: space-between;
}

#request-details input {
   padding: 0 1rem;
   background-color: #f4f6f9;
   height: 2rem;
   width: 100%;
}

.label {
   font-family: 'Inter';
   font-size: 0.875rem;
   margin: 0.25rem 0;
}

.informations-insert {
   border: none;
   border: 0.5px solid #dedede;
   border-radius: 0.2rem;
   outline: none;
   font-size: 1rem;
}

.item {
   display: flex;
   flex-direction: column;
   width: 100%;
   margin: 0 5px;
}

#request-description {
   display: flex;
   flex-direction: column;
   width: 100%;
}

#request-description label {
   margin-left: 1.5rem;
}

textarea {
   padding: 1rem;
   background-color: #f4f6f9;
   margin: 0.25rem 1.5rem;
   resize: none;
   font-family: 'Roboto', sans-serif;
   box-sizing: border-box;
}

/* --- Botões --- */

#buttons {
   margin: 1rem 1.5rem;
}

#buttons button {
   font-family: 'Inter';
   border: solid 1px #f4f6f9;
   width: 9.3rem;
   height: 2.5rem;
   margin-right: 1rem;
}

#save-button {
   cursor: pointer;
   color: #ffffff;
   background-color: #007bff;
   border: none;
}

#save-button:hover {
   background-color: #0268d4;
   transition: 0.2s;
}

#cancel-button {
   cursor: pointer;
   color: #FF4646;
   background-color: #ffffff;
   border: none;
}

#cancel-button:hover {
   background-color: #f4f6f9;
   transition: 0.2s;
}

/* --- Footer --- */

footer {
   font-family: 'Inter';
   margin-top: 2rem;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 1rem;
}

footer h3 {
   font-size: 1.5rem;
   font-weight: 500;
   padding-bottom: 0.5rem;
   color: #007bff;
}