@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Inter:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

table {
	color: #383B46;
	font-family: 'inter';
	border-collapse: collapse;
	letter-spacing: 0px;
	font-size: 1rem;
}


.table--header,
.table--data {
	background-color: #f5f5f5;
	text-align: left;
	line-height: 1rem;
	border-bottom: 1px solid #EBEBEC;
	padding: 1rem;
}

.table--header {
	font-weight: 700;

}

.table--data {
	background-color: white;
	font-weight: 400;
	transition: .25s;
}

.table--data:hover {
	background-color: #f1f0f5;
}