@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter';
  font-size: 14px;
  background-color: #0000002d;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  padding: 0 1.25rem;
  background-color: #ffffff;
  border: solid 0.5px;
  border-color: rgb(214, 214, 214);
  border-radius: 3px;
}

#title {
  margin-top: 0.5rem;
  font-size: 16px;
  font-weight: 500;

}

#question-text {
  margin: 0.5rem 0 1rem 0;
  font-size: 14px;
}

.buttons {
  margin-bottom: 0.5rem;
  padding: 0.5rem 3.75rem;
  font-family: 'Inter';
  font-weight: 500;
  transition: 0.25s;
  border: 1px solid #D7D8DA;
  border-radius: 3px;
  cursor: pointer;
}

#no-button {
  background-color: #ffffff;
  color: #2C549C;
}

#no-button:hover {
  background-color: #eeeeee;
}

#yes-button {
  background-color: #EF0202;
  color: #ffffff;
}

#yes-button:hover {
  background-color: #cc0404;
}