@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

* {
	font-family: 'Inter';
	font-style: normal;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 1.5rem;
	font-size: 14px;
	color: #383B46;
}

/* ----- Header ----- */
#header {
	display: flex;
	justify-content: space-between;
	margin-top: 3rem;
}

/* ----- Main content ----- */

#main {
	display: grid;
	grid-template-columns: 1fr 10fr;
	gap: 1.5rem;
	margin-top: 3rem;
}

/* ----- Request Filters ----- */

aside {
	max-width: 280px;
}

input {
	outline: none;
	padding: 6px 1rem;
}

#form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.input-date {
	height: 2.5rem;
	margin-top: 0.25rem;
	border: 1px solid #D7D8DA;
	border-radius: 3px;

}

.input-date:last-child {
	margin-left: 0.5rem;
}

#inclusion-date-box {
	width: 100%;
	display: flex;
	flex-direction: row;
}

#date {
	display: flex;
	flex-direction: row;
}

.form-box {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.form-input {
	width: 100%;
	height: 2.5rem;
	margin-top: 0.25rem;
	border: 1px solid #D7D8DA;
	border-radius: 3px;

}

#status-box {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;

	border: 1px solid #D7D8DA;
	border-radius: 3px;

}

#status-box h4 {
	border-bottom: 1px solid #D7D8DA;
	font-weight: 400;
	padding: 0.5rem;
}

input[type=checkbox] {
	margin-right: 0.5rem;
}

.status-label {
	display: flex;
	align-items: center;
	margin: 0.5rem;
}

.buttons {
	color: #FFFFFF;
	background-color: #2C549C;
	font-family: 'Inter';
	font-weight: 500;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: 0.25s;
}

.buttons:hover {
	background-color: #0268d4;
}

aside button {
	padding: 0.5rem 7.4rem;
}

header button {
	padding: 0.5rem 1rem;
}

/* ----- Requests Show ----- */

#request-table {
	list-style: none;
	border: 1px solid #F2F2F2;
	border-radius: 8px;

}

.table-header {
	display: flex;
	border-bottom: 1px solid #F2F2F2;
}

.table-header-label {
	margin: 0 0.75rem;
}

.request-informations {
	display: flex;
	border-bottom: 1px solid #F2F2F2;
}

.request-data {
	margin: 0 0.75rem;
}